In [101]:
#Capstone Project Data Cleaning Plan
#import dependencies
#load data into dataframe
#Drop columns we don't need: timestamp, level, tag, race, education (race and education have already been onehot-encoded in datasource)
#Check data types
#Look for outlier values
#Check for duplicate rows

#Investigate and clean specific columns:
    #

In [102]:
#Import dependencies
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

In [103]:
#Set path of input file
file_path = "Resources/Modified_Levels_Fyi_Salary_Data.csv"

In [104]:
#Read input file into a DataFrame
salaries_df = pd.read_csv(file_path)
salaries_df.head()

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,6/7/2017 11:33,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [105]:
#Drop unneeded columns
salaries_df = salaries_df.drop(columns=['timestamp','level','tag','Race','Education'])
salaries_df

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000,20000.0,10000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000,180000.0,35000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,155000,150000.0,22000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,146900,73200.0,16000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,157000,25000.0,20000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,194688,57000.0,29000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,155000,27000.0,19000.0,Male,...,0,0,0,0,0,0,0,0,0,0

In [106]:
#Check data types
salaries_df.dtypes
#Why is dmaid a float, seems like it should be an int, look into that
#all other types seem reasonable

company                     object
title                       object
totalyearlycompensation      int64
location                    object
yearsofexperience          float64
yearsatcompany             float64
basesalary                   int64
stockgrantvalue            float64
bonus                      float64
gender                      object
cityid                       int64
dmaid                      float64
rowNumber                    int64
Masters_Degree               int64
Bachelors_Degree             int64
Doctorate_Degree             int64
Highschool                   int64
Some_College                 int64
Race_Asian                   int64
Race_White                   int64
Race_Two_Or_More             int64
Race_Black                   int64
Race_Hispanic                int64
dtype: object

In [107]:
#look for null values
salaries_df.isnull().sum()

company                        5
title                          0
totalyearlycompensation        0
location                       0
yearsofexperience              0
yearsatcompany                 0
basesalary                     0
stockgrantvalue                0
bonus                          0
gender                     19540
cityid                         0
dmaid                          2
rowNumber                      0
Masters_Degree                 0
Bachelors_Degree               0
Doctorate_Degree               0
Highschool                     0
Some_College                   0
Race_Asian                     0
Race_White                     0
Race_Two_Or_More               0
Race_Black                     0
Race_Hispanic                  0
dtype: int64

In [108]:
#try to figure out why dmaid came in as a float, and has two null values
salaries_df['dmaid'].unique()
#no values seem to have anything after the decimal, but NaN is among the values

array([807., 819.,   0., 501., 512., 862., 820., 803., 511., 635., 506.,
       825., 622., 508., 519., 751., 652., 504., 527., 617., 613., 602.,
       532., 753., 752., 623., 556., 669., 628., 566., 515., 560., 528.,
       534., 524., 609., 526., 521., 648., 770., 517., 518., 535., 505.,
       641., 790., 539., 670., 533., 523., 618., 637., 616., 855., 510.,
       563., 757., 659., 625., 691., 705., 576., 811., 679., 541., 544.,
       828., 789., 821., 588., 611., 716., 801., 561., 682., 584., 671.,
        nan, 564., 502., 640., 678., 581., 642., 514., 598., 643., 567.,
       839., 746., 500., 675., 619., 548., 592., 650., 529., 536., 551.,
       573., 610., 766., 702., 724., 547., 604., 656., 513., 649., 503.,
       687., 530., 686., 555., 571., 538., 693., 651., 744., 634., 525.,
       546., 754., 630., 624., 866., 554., 600., 565., 542., 550., 540.,
       632., 734., 520., 881., 509., 522., 612., 531., 804., 577., 759.,
       516., 673., 574., 537., 760., 698., 658.])

In [109]:
#look into NaN value in dmaid
dmaid_nan = salaries_df.loc[pd.isna(salaries_df['dmaid'])]
dmaid_nan
#Two rows have NaN for dmaid, small enough number to fix manually.

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
14919,CACI,Software Engineer,63000,"Rome, NY",1.0,1.0,63000,0.0,0.0,Male,...,0,0,0,0,0,0,0,0,0,0
49136,General Motors,Hardware Engineer,94000,"Troy, MI",3.0,3.0,86000,0.0,8000.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [110]:
#Find the dmaid for Troy, MI
find_troy_dmaid = salaries_df.loc[salaries_df['location']=="Troy, MI"]
find_troy_dmaid[['location','dmaid']]

       location  dmaid
36366  Troy, MI  505.0
36390  Troy, MI  505.0
39640  Troy, MI  505.0
43507  Troy, MI  505.0
49136  Troy, MI    NaN
58529  Troy, MI  505.0

In [111]:
#Find the dmaid for Rome, NY
find_romeny_dmaid = salaries_df.loc[salaries_df['location']=="Rome, NY"]
find_romeny_dmaid[['location','dmaid']]

       location  dmaid
14919  Rome, NY    NaN
50922  Rome, NY  555.0

In [112]:
#Fix dmaid for row 49136 to be 505 for Troy, MI

salaries_df.at[49136,'dmaid']=505
salaries_df.iloc[49136]['dmaid']

505.0

In [113]:
#Fix dmaid for row 14919 to be 555 for Rome, NY

salaries_df.at[14919,'dmaid']=555
salaries_df.iloc[14919]['dmaid']

555.0

In [114]:
#Now check unique values for dmaid again
salaries_df['dmaid'].unique()

array([807., 819.,   0., 501., 512., 862., 820., 803., 511., 635., 506.,
       825., 622., 508., 519., 751., 652., 504., 527., 617., 613., 602.,
       532., 753., 752., 623., 556., 669., 628., 566., 515., 560., 528.,
       534., 524., 609., 526., 521., 648., 770., 517., 518., 535., 505.,
       641., 790., 539., 670., 533., 523., 618., 637., 616., 855., 510.,
       563., 757., 659., 625., 691., 705., 576., 811., 679., 541., 544.,
       828., 789., 821., 588., 611., 716., 801., 561., 682., 584., 671.,
       555., 564., 502., 640., 678., 581., 642., 514., 598., 643., 567.,
       839., 746., 500., 675., 619., 548., 592., 650., 529., 536., 551.,
       573., 610., 766., 702., 724., 547., 604., 656., 513., 649., 503.,
       687., 530., 686., 571., 538., 693., 651., 744., 634., 525., 546.,
       754., 630., 624., 866., 554., 600., 565., 542., 550., 540., 632.,
       734., 520., 881., 509., 522., 612., 531., 804., 577., 759., 516.,
       673., 574., 537., 760., 698., 658.])

In [115]:
#Check out 5 NaN values in company
company_nan = salaries_df.loc[pd.isna(salaries_df['company'])]
company_nan

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
1403,NaN,Software Engineering Manager,292000,"Austin, TX",15.0,4.0,250000,0.0,42000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8579,NaN,Software Engineer,85000,"Atlanta, GA",2.0,0.0,85000,0.0,8000.0,Male,...,0,0,0,0,0,0,0,0,0,0
9045,NaN,Software Engineer,47000,"Melbourne, VI, Australia",2.0,1.0,47000,0.0,0.0,Male,...,0,0,0,0,0,0,0,0,0,0
26999,NaN,Software Engineer,113000,"Dublin, DN, Ireland",5.0,1.0,113000,0.0,0.0,Male,...,0,1,0,0,0,0,1,0,0,0
29433,NaN,Software Engineer,54000,"Arlington, VA",3.0,2.0,54000,0.0,0.0,Male,...,0,1,0,0,0,0,0,0,0,1

In [116]:
#look to see if everyone in Austin is at the same company
austin_tx = salaries_df.loc[salaries_df['location']=="Austin, TX"]
austin_tx
#They are at a bunch of different companies,the same is true in the other 4 cities. Rather than try to 
#guess at a company for them, let's drop these 5 rows

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
178,IBM,Software Engineer,84000,"Austin, TX",3.0,3.0,80000,100.0,4000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
436,IBM,Product Manager,103000,"Austin, TX",0.0,0.0,0,0.0,0.0,Male,...,0,0,0,0,0,0,0,0,0,0
491,Dell Technologies,Software Engineer,225000,"Austin, TX",14.0,14.0,0,0.0,0.0,Male,...,0,0,0,0,0,0,0,0,0,0
515,IBM,Software Engineer,83000,"Austin, TX",3.0,3.0,82000,0.0,0.0,Male,...,0,0,0,0,0,0,0,0,0,0
526,IBM,Software Engineer,110000,"Austin, TX",8.0,3.0,108000,0.0,2000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62229,Indeed,Product Manager,180000,"Austin, TX",4.0,2.5,158000,0.0,22000.0,Male,...,0,0,0,0,0,0,0,0,0,0
62254,Dell Technologies,Software Engineering Manager,205000,"Austin, TX",10.0,10.0,160000,0.0,40000.0,Male,...,0,0,0,0,0,0,0,0,0,0
62258,Arm,Software Engineer,133000,"Austin, TX",3.0,2.0,104500,0.0,28500.0,Male,...,0,0,0,0,0,0,0,0,0,0
62431,Amazon,Software Engineer,144000,"Austin, TX",0.0,0.0,106000,65000.0,66000.0,Male,...,0,0,0,0,0,0,0,0,0,0
62611,Amazon,Software Engineer,350000,"Austin, TX",14.0,1.0,160000,175000.0,56250.0,Male,...,0,0,0,0,0,0,0,0,0,0

In [117]:
#Drop 5 rows where company is NaN
salaries_df.drop(company_nan.index,inplace=True)
salaries_df
#count of 62,637 is correct

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000,20000.0,10000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000,180000.0,35000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,155000,150000.0,22000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,146900,73200.0,16000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,157000,25000.0,20000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,194688,57000.0,29000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,155000,27000.0,19000.0,Male,...,0,0,0,0,0,0,0,0,0,0

In [118]:
salaries_df['stockgrantvalue'] = salaries_df['stockgrantvalue'].map(lambda x:0 if x<0.01 else x)
salaries_df

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000,20000.0,10000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000,180000.0,35000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,155000,150000.0,22000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,146900,73200.0,16000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,157000,25000.0,20000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,194688,57000.0,29000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,155000,27000.0,19000.0,Male,...,0,0,0,0,0,0,0,0,0,0

In [119]:
salaries_df['gender'] = salaries_df['gender'].map(lambda x:'none' if x=='Title: Senior Software Engineer' else x)
salaries_df['gender'] = salaries_df['gender'].map(lambda x:'none' if pd.isna(x) else x)
salaries_df

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000,20000.0,10000.0,none,...,0,0,0,0,0,0,0,0,0,0
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0,0.0,0.0,none,...,0,0,0,0,0,0,0,0,0,0
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000,0.0,0.0,none,...,0,0,0,0,0,0,0,0,0,0
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000,180000.0,35000.0,none,...,0,0,0,0,0,0,0,0,0,0
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0,0.0,0.0,none,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,155000,150000.0,22000.0,none,...,0,0,0,0,0,0,0,0,0,0
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,146900,73200.0,16000.0,none,...,0,0,0,0,0,0,0,0,0,0
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,157000,25000.0,20000.0,none,...,0,0,0,0,0,0,0,0,0,0
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,194688,57000.0,29000.0,none,...,0,0,0,0,0,0,0,0,0,0
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,155000,27000.0,19000.0,Male,...,0,0,0,0,0,0,0,0,0,0

In [120]:
salaries_df['location'] = salaries_df['location'].map(lambda x:'Seoul, Korea, South' if x=='Seoul, KG, Korea, South' else x)
salaries_df['location'] = salaries_df['location'].map(lambda x:'Suwon, Korea, South' if x=='Suwon, KG, Korea, South' else x)
salaries_df

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000,20000.0,10000.0,none,...,0,0,0,0,0,0,0,0,0,0
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0,0.0,0.0,none,...,0,0,0,0,0,0,0,0,0,0
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000,0.0,0.0,none,...,0,0,0,0,0,0,0,0,0,0
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000,180000.0,35000.0,none,...,0,0,0,0,0,0,0,0,0,0
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0,0.0,0.0,none,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,155000,150000.0,22000.0,none,...,0,0,0,0,0,0,0,0,0,0
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,146900,73200.0,16000.0,none,...,0,0,0,0,0,0,0,0,0,0
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,157000,25000.0,20000.0,none,...,0,0,0,0,0,0,0,0,0,0
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,194688,57000.0,29000.0,none,...,0,0,0,0,0,0,0,0,0,0
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,155000,27000.0,19000.0,Male,...,0,0,0,0,0,0,0,0,0,0

In [121]:
location_list = salaries_df['location'].str.split(',\s+',expand=True)
location_list.columns = ['city','state','country']
location_list

                city state country
0       Redwood City    CA    None
1      San Francisco    CA    None
2            Seattle    WA    None
3          Sunnyvale    CA    None
4      Mountain View    CA    None
...              ...   ...     ...
62637        Seattle    WA    None
62638        Redmond    WA    None
62639        Seattle    WA    None
62640  San Francisco    CA    None
62641      Sunnyvale    CA    None

[62637 rows x 3 columns]

In [122]:
salaries_df = pd.concat([salaries_df,location_list],axis=1)
salaries_df

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,city,state,country
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000,20000.0,10000.0,none,...,0,0,0,0,0,0,0,Redwood City,CA,None
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0,0.0,0.0,none,...,0,0,0,0,0,0,0,San Francisco,CA,None
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000,0.0,0.0,none,...,0,0,0,0,0,0,0,Seattle,WA,None
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000,180000.0,35000.0,none,...,0,0,0,0,0,0,0,Sunnyvale,CA,None
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0,0.0,0.0,none,...,0,0,0,0,0,0,0,Mountain View,CA,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,155000,150000.0,22000.0,none,...,0,0,0,0,0,0,0,Seattle,WA,None
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,146900,73200.0,16000.0,none,...,0,0,0,0,0,0,0,Redmond,WA,None
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,157000,25000.0,20000.0,none,...,0,0,0,0,0,0,0,Seattle,WA,None
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,194688,57000.0,29000.0,none,...,0,0,0,0,0,0,0,San Francisco,CA,None
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,155000,27000.0,19000.0,Male,...,0,0,0,0,0,0,0,Sunnyvale,CA,None

In [123]:
salaries_df['country'].fillna('USA', inplace=True)
salaries_df

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,city,state,country
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000,20000.0,10000.0,none,...,0,0,0,0,0,0,0,Redwood City,CA,USA
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0,0.0,0.0,none,...,0,0,0,0,0,0,0,San Francisco,CA,USA
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000,0.0,0.0,none,...,0,0,0,0,0,0,0,Seattle,WA,USA
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000,180000.0,35000.0,none,...,0,0,0,0,0,0,0,Sunnyvale,CA,USA
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0,0.0,0.0,none,...,0,0,0,0,0,0,0,Mountain View,CA,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,155000,150000.0,22000.0,none,...,0,0,0,0,0,0,0,Seattle,WA,USA
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,146900,73200.0,16000.0,none,...,0,0,0,0,0,0,0,Redmond,WA,USA
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,157000,25000.0,20000.0,none,...,0,0,0,0,0,0,0,Seattle,WA,USA
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,194688,57000.0,29000.0,none,...,0,0,0,0,0,0,0,San Francisco,CA,USA
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,155000,27000.0,19000.0,Male,...,0,0,0,0,0,0,0,Sunnyvale,CA,USA

In [124]:
salaries_df = salaries_df.drop(['location'], axis=1)
salaries_df

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,cityid,...,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,city,state,country
0,Oracle,Product Manager,127000,1.5,1.5,107000,20000.0,10000.0,none,7392,...,0,0,0,0,0,0,0,Redwood City,CA,USA
1,eBay,Software Engineer,100000,5.0,3.0,0,0.0,0.0,none,7419,...,0,0,0,0,0,0,0,San Francisco,CA,USA
2,Amazon,Product Manager,310000,8.0,0.0,155000,0.0,0.0,none,11527,...,0,0,0,0,0,0,0,Seattle,WA,USA
3,Apple,Software Engineering Manager,372000,7.0,5.0,157000,180000.0,35000.0,none,7472,...,0,0,0,0,0,0,0,Sunnyvale,CA,USA
4,Microsoft,Software Engineer,157000,5.0,3.0,0,0.0,0.0,none,7322,...,0,0,0,0,0,0,0,Mountain View,CA,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,10.0,1.0,155000,150000.0,22000.0,none,11527,...,0,0,0,0,0,0,0,Seattle,WA,USA
62638,Microsoft,Software Engineer,237000,2.0,2.0,146900,73200.0,16000.0,none,11521,...,0,0,0,0,0,0,0,Redmond,WA,USA
62639,MSFT,Software Engineer,220000,14.0,12.0,157000,25000.0,20000.0,none,11527,...,0,0,0,0,0,0,0,Seattle,WA,USA
62640,Salesforce,Software Engineer,280000,8.0,4.0,194688,57000.0,29000.0,none,7419,...,0,0,0,0,0,0,0,San Francisco,CA,USA
62641,apple,Software Engineer,200000,0.0,0.0,155000,27000.0,19000.0,Male,7472,...,0,0,0,0,0,0,0,Sunnyvale,CA,USA

In [125]:
salaries_df.to_csv("Resources/Cleaned_Salary_Data.csv",index=False)

In [126]:
salaries_df["gender"].value_counts()

Male      35698
none      19540
Female     6999
Other       400
Name: gender, dtype: int64